# Virtual environments
.venv/
venv/
*.env

# Python
__pycache__/

.DS_Store
Thumbs.db

*.log
.ipynb_checkpoints/

# Raw and processed data & static jasons
data/raw/*
data/processed/*
app/static/charts/*
app/static/map/* 

# Keep the folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!app/static/.gitkeep